.filter {
	display: flex;
	align-items: center;

	&__label {
		font-size: 18px;
		font-weight: 700;
		margin-right: 20px;
	}

	&__select {
		position: relative;
		color: $color-white;
		font-size: 18px;
		display: flex;

		& div {
			background-color: $color-primary;
			padding: 15px 20px;
			padding-right: 50px;
			border: none;
			border-radius: 10px;
			cursor: pointer;
		}

		& img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			height: 20px;
			pointer-events: none;
		}

		&--options {
			list-style: none;
			position: absolute;
			background-color: $color-primary;
			border-radius: 10px;
			top: 0;
			left: 0;

			&-item {
				position: relative;
				margin: 5px 5px;
				padding: 10px 15px;
				padding-right: 45px;
				cursor: pointer;

				&:first-child {
					& img {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 15px;
						height: 20px;
						pointer-events: none;
					}
				}

				&:not(:first-child) {
					border-top: 1px solid $color-white;
				}

				&:hover {
					background-color: lighten($color-primary, 10%);
				}
			}
		}
	}
}
