.main {
    position: relative;

    &__title {
        position: absolute;
        top: -75px;
        right: 225px;
        transform: translate(50%, -50%);
        font-size: 36px;
        font-weight: 400;
        color: $color-primary;
    }

    &__photographers-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 200px;
    }
}